<%= image_tag @calender_item.main_image %> 

<h1><%= @calender_item.title %></h1>

<em><%= @calender_item.subtitle %></em>

<p><%= @calender_item.body %></p>

<h2>Technologies Used:</h2>

<% @calender_item.technologies.each do |t| %>
<p> <%= t.name %> </p>
<% end %>